

tr.worker-detail-row {
  height: 0;
}
.worker-expanded-row td{
  padding: 50px 0;
}
tr.worker-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}


.worker-row td {
  border-bottom-width: 0;
}

.worker-detail {
  overflow: hidden;
  display: flex;
}
