<div>
  <button mat-raised-button color="warn" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>Add
  </button>
</div>

<table mat-table [dataSource]="workers" multiTemplateDataRows>
  <tr
    mat-header-row
    *matHeaderRowDef="['status', 'mode', 'name', 'mobile', 'email']"
  ></tr>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef width="12%">Vinculado</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.status === 0" color="warn">link_off</mat-icon>
      <mat-icon *ngIf="element.status === 1" color="primary">link_off</mat-icon>
      <mat-icon *ngIf="element.status === 2" color="success">link</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="mode">
    <th mat-header-cell *matHeaderCellDef width="10%">Modo</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.mode === 0" color="warn">tv_off</mat-icon>
      <mat-icon *ngIf="element.mode === 1" color="primary">connected_tv</mat-icon>
      <mat-icon *ngIf="element.mode === 2" color="success">live_tv</mat-icon>
    </td>
  </ng-container>
  <mat-text-column name="name" headerText="Nombre"></mat-text-column>
  <mat-text-column name="mobile" headerText="Teléfono"></mat-text-column>
  <mat-text-column name="email" headerText="Email"></mat-text-column>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="
          expandedElement = expandedElement === element ? null : element;
          $event.stopPropagation()
        "
      >
        <mat-icon *ngIf="expandedElement !== element"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedElement === element"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <div
        class="worker-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <!--  -->

        <mat-list>
          <mat-list-item>
            <button
              mat-raised-button
              color="primary"
              (click)="openEditDialog(element)"
            >
              <mat-icon>edit</mat-icon> Editar trabajador
            </button>
          </mat-list-item>
          
          <mat-list-item>
            <button
              mat-raised-button
              color="warn"
              (click)="copyCalendarUrlToClipboard(element)"
            >
              <mat-icon>content_copy</mat-icon> Copiar url de calendario
            </button>
          </mat-list-item>
          <mat-list-item *ngIf="element.mode === 0">
            <button
              mat-raised-button
              color="warn"
              (click)="deleteWorker(element)"
            >
              <mat-icon>delete</mat-icon> Eliminar
            </button>
          </mat-list-item>
        </mat-list>

        <app-events-months [worker_id]="element._id" [month]="now" ></app-events-months>

        <!--  -->
      </div>
    </td>
  </ng-container>

  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="worker-row"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: ['expandedDetail']"
    class="worker-detail-row"
    [class.worker-expanded-row]="expandedElement === element"
  ></tr>
</table>
