<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item color="primary" (click)="openEditDialog()">
                <mat-icon>edit</mat-icon> Editar
              </button>
              <button mat-menu-item><mat-icon>delete</mat-icon>Eliminar</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content
          class="dashboard-card-content"
          *ngIf="card.title == 'Perfil'"
        >
          <h3>
            <strong>{{ user.nombre }}</strong>
          </h3>
          <p>{{ user.dni }}</p>
          <p>{{ user.mobile }}</p>
          <p>{{ user.email }}</p>
          <p>
            <strong>{{ user.empresa }}</strong>
          </p>
          <p>{{ user.cif }}</p>
          <p>{{ user.sede }}</p>
        </mat-card-content>
        <mat-card-content
          class="dashboard-card-content"
          *ngIf="card.title === 'Licencia' && user.licensedUntil === null"
        >
          <h3>
            <strong>¿Tienes mas de 3 trabajadores?</strong>
          </h3>
          <p>
            Subscríbete a la versión PREMIUM durante un año por 50€.
          </p>
          <p>
            <button mat-raised-button color="primary" (click)="goNewCheckout()"><mat-icon>add</mat-icon> Subscríbete!</button>
          </p>
        </mat-card-content>
        <mat-card-content
          class="dashboard-card-content"
          *ngIf="card.title === 'Licencia' && licenseDate?.getTime()?? 0 - now.getTime() > 0"
        >
          <h3>
            <strong>Tu subscripción esta activa.</strong>
          </h3>
          <p>
            Amplia la subscripción un año mas por 50€!
          </p>
          <p>
            <button mat-raised-button color="primary" (click)="goNewCheckout()"><mat-icon>add</mat-icon> Subscríbete!</button>
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
