<form class="form-container" [formGroup]="formCreateTask">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <input matInput type="text" formControlName="description" />
  </mat-form-field>

  <button mat-fab color="secondary" (click)="create()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</form>
